@-moz-document domain("youtube.com") {
    .colors();
    .colors_youtube();
    /* general style */
     html, :root, html, [light], ytd-masthead, html[darker-dark-theme], html:not(.style-scope), html:not(.style-scope)[system-icons], html:not(.style-scope)[dark], :not(.style-scope)[dark], html[darker-dark-theme][dark], [darker-dark-theme] [dark], html[system-icons][dark], html[system-icons] [dark], html[darker-dark-theme][dark], html[system-icons] {
         --yt-spec-base-background: var(--menu-primary);
         --ytcp-video-row-highlighted: none;
         --ytcp-brand-background-solid:none;
         --yt-button-icon-button-text-color: var(--yt-spec-text-primary)!important;
         --yt-spec-text-secondary: var(--text-secondary) !important;
         --yt-spec-icon-inactive: var(--yt-spec-text-primary)!important;
         --yt-spec-text-primary: var(--text-primary) !important;
         --yt-spec-icon-active-other: var(--yt-spec-text-primary)!important;
         --ytd-searchbox-legacy-border-shadow-color: #ccc;
         --yt-spec-brand-background-solid: var(--transparent);
         --yt-spec-brand-background-primary: var(--transparent);
         --yt-spec-brand-background-secondary: var(--transparent);
         --yt-spec-general-background-a: var(--transparent);
         --yt-spec-general-background-b: var(--transparent);
         --yt-spec-general-background-c: var(--transparent);
         --yt-spec-call-to-action: #065fd4;
         --ytd-searchbox-text-color: hsl(0, 0%, 6.7%);
        /*studio*/
         --ytcp-hover-item: var(--set-ytcp-hover-item);
         --ytcp-selected-item: var(--set-ytcp-selected-item);
         --ytcp-general-background-a: var(--set-ytcp-general-background-a);
         --ytcp-text-primary: var(--text-primary);
         --ytcp-text-secondary: var(--text-secondary);
         --ytmusic-nav-bar: none;
         --ytmusic-player-page-background: none;
    }
    /* main style */
     body, ytd-masthead {
         --yt-swatch-primary: var(--menu-secondary) !important;
         --yt-swatch-primary-darker: var(--menu-secondary) !important;
         --yt-main-app-background: var(--background);
         --yt-main-app-background-tmp: var(--background);
         --yt-app-background: var(--background);
         --yt-sidebar-background: var(--background);
         --yt-swatch-icon-color: var(--white) !important;
         --yt-guide-background: var(--menu-primary);
    }
    /* background */
     ytd-app, #guide-content {
         background-image: var(--background);
    }
    /* button */
     paper-button {
         padding-right: 20px !important;
         padding-left: 20px !important;
         border-radius: 1.5em !important;
         --yt-spec-brand-button-background: var(--yt-spec-icon-active-button-link) !important;
    }
    /* logo */
     #country-code {
         color: var(--white) !important;
    }
    /* header */
     #masthead {
         background: var(--menu-secondary);
    }
     #masthead yt-icon {
         color: var(--white);
    }
    /* search box */
     ytd-searchbox {
         --ytd-searchbox-background: var(--white);
         --ytd-searchbox-text-color: var(--yt-searchbox-primary-color);
         --ytd-searchbox-legacy-border-color: var(--ytd-searchbox-border-color);
         --ytd-searchbox-legacy-button-border-color: var(--ytd-searchbox-border-color);
         --ytd-searchbox-legacy-button-color: var(--menu-primary);
         --ytd-searchbox-legacy-button-icon-color: #333;
    }
    /* side bar icon */
     .guide-icon, .yt-img-shadow {
         margin-left: -5px;
         color: var(--white) !important;
         background-color: var(--menu-secondary);
         border-radius: 5px;
    }
     app-drawer[opened] {
         margin-right: 20px !important;
    }
     yt-icon.guide-icon.style-scope.ytd-guide-entry-renderer, ytd-mini-guide-renderer yt-icon {
         padding: 0.5rem;
    }
     #guide-icon {
         --yt-swatch-text: var(--white);
    }
    /* button */
     paper-button.ytd-subscribe-button-renderer {
         background: var(--button-primary);
    }
    /** * for m.youtube.com */
     .header-bar, .scbrr-tabs, ytm-header-fab-renderer, .playlist-play-all-button {
         background-color: var(--menu-secondary) !important;
    }
     .header-bar h1.title {
         color: transparent;
    }
    /** * for music.youtube.com */
     html {
        /* bottom bar */
         --ytmusic-player-bar-background-color: var(--menu-primary) !important;
         --ytmusic-title-2_-_color: var(--ytmusic-color-text-1) !important;
        /* context menu */
         --ytmusic-menu-item-text_-_color: var(--ytmusic-color-white) !important;
        /* text color */
         --ytmusic-color-grey-5: var(--ytmusic-color-grey-2) !important;
         --ytmusic-color-grey-6: var(--ytmusic-color-grey-3) !important;
         --ytmusic-color-text-1: var(--ytmusic-color-black) !important;
         --ytmusic-color-text-2: var(--ytmusic-color-grey-10) !important;
         --ytmusic-color-text-3: var(--ytmusic-color-grey-11) !important;
         --ytmusic-subtitle-2_-_color: var(--ytmusic-color-text-1) !important;
        /* icon color */
         --ytmusic-color-icon-inactive: var(--ytmusic-color-white);
    }
    /* background image */
     ytmusic-player-page, .ytmusic-entity-browse-page, .ytmusic-data-bound-detail-page-renderer, #header.ytmusic-data-bound-detail-page-renderer {
         background-image: var(--background);
    }
    /* header */
     ytmusic-nav-bar, #header.ytmusic-item-section-renderer {
         background-color: var(--menu-secondary) !important;
    }
     .ytmusic-nav-bar picture {
         display: none;
    }
    /* text color */
     ytmusic-player-bar, .ytmusic-player-bar {
         color: var(--ytmusic-color-white) !important;
    }
     .ytmusic-player-bar .yt-formatted-string, .yt-simple-endpoint.yt-formatted-string {
         color: var(--ytmusic-color-text-6) !important;
    }
    /* context menu */
     .ytmusic-menu-popup-renderer {
         --paper-listbox-background-color: var(--menu-primary) !important;
    }
    /* search box */
     .ytmusic-search-suggestions-section, .ytmusic-nav-bar[opened] .search-box.ytmusic-search-box {
         background-color: var(--menu-primary) !important;
    }
    /* news */
     .ytd-rich-shelf-renderer> #content > .style-scope {
         background-color: var(--menu-secondary); 
    }
    /* progress bar */
     .html5-play-progress, .ytp-play-progress {
         background: var(--menu-secondary) !important;
    }
     .ytp-volume-slider-track {
         background: var(--menu-secondary) !important;
    }
    /* like-dislike */
    /* Playlist/Filter Icon Fix */
    .ytd-playlist-sidebar-primary-info-renderer yt-icon.ytd-toggle-button-renderer,
    .ytd-search-sub-menu-renderer yt-icon.ytd-toggle-button-renderer,
    .ytd-playlist-panel-renderer yt-icon.ytd-toggle-button-renderer,
    .ytd-video-preview yt-icon.ytd-toggle-button-renderer,
    .ytd-macro-markers-list-item-renderer yt-icon.ytd-toggle-button-renderer {
        background-color: transparent !important;
        -webkit-mask: none !important;
        mask: none !important;
        animation: none !important;
        transform: none !important;
    }
    
    /* Hide Normal Button */
    ytd-menu-renderer:not(.ytd-playlist-sidebar-primary-info-renderer):not(.ytd-playlist-panel-renderer) ytd-toggle-button-renderer[is-icon-button] yt-icon.ytd-toggle-button-renderer svg,
    ytd-search-sub-menu-renderer:not(.ytd-section-list-renderer) ytd-toggle-button-renderer[is-paper-button-with-icon] yt-icon.ytd-toggle-button-renderer svg,
    ytd-video-preview:not(.ytd-rich-grid-renderer) ytd-toggle-button-renderer[is-paper-button-with-icon] yt-icon.ytd-toggle-button-renderer svg,
    #dislike-button svg,
    #like-button svg,
    ytd-segmented-like-dislike-button-renderer svg
    {display: none !important}
    
    ytd-toggle-button-renderer.force-icon-button a.ytd-toggle-button-renderer, a.yt-simple-endpoint.ytd-toggle-button-renderer
    {outline: none}
    
    /* Lined */
    ytd-toggle-button-renderer[is-icon-button] yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer yt-icon,
    #like-button button yt-icon,
    #dislike-button button yt-icon {
        background-color: var(--like_dislike_main);
        -webkit-mask: var(--like_dislike_lineart) no-repeat 50% 50%;
        mask: var(--like_dislike_lineart) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        mask-size: contain;
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    /* Lined Like */
    ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(1) yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer #segmented-like-button button[aria-pressed="true"] yt-icon,
    #like-button button[aria-pressed="true"] yt-icon {
        background-color: var(--like_filled);
        -webkit-mask: var(--like_dislike_filled) no-repeat 50% 50%;
        mask: var(--like_dislike_filled) no-repeat 50% 50%;
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    /* Lined Dislike */
    ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(2) yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer #segmented-dislike-button button[aria-pressed="true"] yt-icon,
    #dislike-button button[aria-pressed="true"] yt-icon {
        background-color: var(--dislike_filled);
        -webkit-mask: var(--like_dislike_filled) no-repeat 50% 50%;
        mask: var(--like_dislike_filled) no-repeat 50% 50%;
        
        transform: rotateX(-180deg);
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    /* Paper */
    ytd-toggle-button-renderer[is-paper-button-with-icon] yt-icon.ytd-toggle-button-renderer {
        background-color: var(--gray);
        -webkit-mask: var(--like_dislike_filled) no-repeat 50% 50%;
        mask: var(--like_dislike_filled) no-repeat 50% 50%;
        -webkit-mask-size: contain;
        mask-size: contain;
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    /* Paper Like */
    ytd-toggle-button-renderer.style-default-active[is-paper-button]:nth-of-type(1) yt-icon.ytd-toggle-button-renderer {
        background-color: var(--like_filled);
        
        transform: none;
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    /* Paper Dislike */
    ytd-toggle-button-renderer.style-default-active[is-paper-button]:nth-of-type(2) yt-icon.ytd-toggle-button-renderer {
        background-color: var(--dislike_filled);
        
        transform: rotateX(-180deg);
        transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    ytd-toggle-button-renderer.style-default-active[is-paper-button]:nth-of-type(2) yt-formatted-string.ytd-toggle-button-renderer
        {color: var(--dislike_filled) !important}
    
    /* Lined-Hover Animation */
    ytd-toggle-button-renderer[is-icon-button]:hover yt-icon.ytd-toggle-button-renderer,
    ytd-toggle-button-renderer.style-default-active[is-icon-button]:hover yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer div:hover yt-icon,
    #like-button button:hover yt-icon,
    #dislike-button button:hover yt-icon {
        -webkit-mask: var(--like_dislike_filled) no-repeat 50% 50%;
        mask: var(--like_dislike_filled) no-repeat 50% 50%;
        transform: scale(1.25);
    }
    ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(1) yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer #segmented-like-button button[aria-pressed="true"] yt-icon
        {animation: paw_up .5s cubic-bezier(0.165, 0.84, 0.44, 1)}

    ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(1):hover yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer #segmented-like-button:hover button[aria-pressed="true"] yt-icon
        {transform: translateY(-10px)}

    ytd-toggle-button-renderer.style-default-active[is-icon-button]:nth-of-type(2):hover yt-icon.ytd-toggle-button-renderer,
    ytd-segmented-like-dislike-button-renderer #segmented-dislike-button:hover button[aria-pressed="true"] yt-icon
        {transform: rotateX(-180deg) translateY(-10px)}
    
    /* Paper-Hover Animation */
    ytd-toggle-button-renderer.style-default-active[is-paper-button]:nth-of-type(1) yt-icon.ytd-toggle-button-renderer
        {animation: paw_up .5s cubic-bezier(0.165, 0.84, 0.44, 1)}
    
    ytd-toggle-button-renderer[is-paper-button-with-icon]:hover yt-icon.ytd-toggle-button-renderer
        {transform: scale(1.25)}
    
    /* Disable Button Animations On Comments */
    #like-button.ytd-comment-action-buttons-renderer.style-default-active[is-icon-button] yt-icon.ytd-toggle-button-renderer,
    #like-button button:hover yt-icon,
    #dislike-button button:hover yt-icon {
        animation: none !important;
        transform: none !important;
    }
    #dislike-button.ytd-comment-action-buttons-renderer.style-default-active[is-icon-button] yt-icon.ytd-toggle-button-renderer,
    #dislike-button button:hover yt-icon
        {transform: rotateX(-180deg) !important}
    
    /* Keyframes */
    @keyframes paw_up {
      0% {transform: scale(1.25) translateY(0)}
      50% {transform: scale(1) translateY(-10px)}
      100% {transform: scale(inherit) translateY(inherit)}
    }
}
 @-moz-document domain('wikipedia.org') {
    .colors();
    .colors_wikipedia();
    /* Transperent */
     .mw-page-container {
         background-color: transparent !important;
    }
     .vector-header-container {
         background-color: transparent !important;
    }
     #vector-toc {
         background-color: transparent !important;
    }
    /* Color */
     .infobox {
         background-color: var(--menu-primary) !important;
    }
     .mw-default-size {
         background-color: var(--menu-primary) !important;
    }
     .mw-default-size> figcaption {
         background-color: var(--menu-primary) !important;
    }
     .thumbinner {
         background-color: var(--menu-primary) !important;
    }
     .toc, .toccolours {
         background-color: var( --menu-primary) !important;
    }
     .gallery{
         background-color: var( --menu-primary) !important;
    }
     blockquote {
         background: var( --menu-primary) !important;
    }
     .vector-body blockquote {
         border-left: var( --menu-secondary) !important;
    }
     #mw-page-base {
         background-image: transparent !important;
    }
    body {
        background: var(--menu-primary) !important;
      }
    /* Small fixses */
     .vector-feature-zebra-design-disabled #vector-toc-pinned-container .vector-toc::after {
         display: none;
    }
    /* Wikipedia legacy */
    #content {
	    background: var(--background) !important;
    }
    #mw-head {
        background: var(--menu-primary) !important;
    }
    .vector-menu-tabs-legacy li {
        background-image: linear-gradient(to top,var(--menu-secondary) 0,var(--menu-secondary) 1px,var(--menu-primary) 100%);
    }
      .vector-menu-tabs-legacy .selected {
        background: var(--menu-primary);
    }
    .mw-body {
        margin-top: 0px;
        border: 1px solid var(--menu-secondary);
        border-right-width: 0
    }
    .vector-menu-tabs, .vector-menu-tabs a, #mw-head .vector-menu-dropdown .vector-menu-heading {
        background-image: linear-gradient(to bottom,var(--menu-primary) 0,var(--menu-secondary) 100%);
    }
    /* Wikipedia main page */
    #main-tfa {
        background: var(--menu-primary)
    }
    #main-dyk {
        background: var(--menu-primary)
    }
    
    #main-tga {
            background: var(--menu-primary)
    }
    #main-cur {
        background: var(--menu-primary)
    }
    
    #main-potd {
        background: var(--menu-primary)
    }
    
    #main-tfl {
        background: var(--menu-primary)
    }
    #main-itd {
        background: var(--menu-primary)
    }
    #main-wotw {
        background: var(--menu-primary)
    }
}